a {
    color: inherit;
    text-decoration: none;
}

.home {
    display: flex;
    height: calc(100vh - 58px);
    justify-content: space-around;
    align-items: center;
}

.actionText {
    font-size: 42px;
    line-height: 1.5;
}

p {
    line-height: 1.5;
}

.actions {
    display: flex;
    margin-top: 20px;
}

.getStarted {
    background-color: #0b2239;
    color: #F3F1F1;
    padding: 20px 30px;
    cursor: pointer;
}

.how {
    padding: 20px 30px;
    color: #0b2239;
    background-color: #F3F1F1;
}

/* Responsive Design */
@media screen and (max-width: 750px) {
    .home {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 20px;
        height: calc(100vh - 160px);
    }

    img {
        width: 100px;
    }

    .actionText {
        font-size: 20px;
    }

    .getStarted, .how {
        padding: 10px;
    }
}