body,html {
  height: 100%;
}
.App {
  position: relative;
  background-color: #F3F1F1;
  color: #0b2239;
  height: 100vh;
}

.App-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.bg {
  background: #F6AF91;
  background: -webkit-linear-gradient(150deg,#F5C9B1 15%,#F6AF91 70%,#F5C9B1 94%);
  background: linear-gradient(150deg,#F5C9B1 15%,#F6AF91 70%,#F5C9B1 94%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: skew(65deg, 0);
  -webkit-transform-origin: (top left);
  transform-origin: top left;
  transform: skew(65deg, 0);
  position: absolute;
}

.sect {
  position: relative;
  height: 100vh;
}

